<div id="footer">
  <div class="flex">
    <div class="logo hor">
      <h3><span>Medic</span><span>Satva</span></h3>
      <h4>“ Health & Happiness to you. Responsibility lies with us ”</h4>
    </div>
    <div class="nav hor">
      <h3>Explore us</h3>
      <ul>
        <li>About us</li>
        <li>Products</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="bus hor">
      <h3>Contact us</h3>
      <ul>
        <li><a href="mailto:enquiry@medicsatva.com">enquiry@medicsatva.com</a></li>
        <li>+91-9711832200</li>
      </ul>
    </div>
    <div class="follow hor">
      <h3>Follow us</h3>
      <ul>
        <li>Twitter</li>
        <li>LinkedIn</li>
        <li>Facebook</li>
      </ul>
    </div>
    <div class="copyright logo">
      <h3>&copy; 2018 <span>Medic</span><span>Satva</span>. All Rights Reserved.</h3>
    </div>
  </div>
</div>
