<div class="bg-about-us">
</div>
<div class="left-block about-us-left-block" @expandAnimation>
  <div class="category-header-par par" @headerAnimation>
    <span class="category-header">a</span>
    <span class="category-header">b</span>
    <span class="category-header">o</span>
    <span class="category-header">u</span>
    <span class="category-header">t</span>
    &nbsp;
    <span class="category-header">u</span>
    <span class="category-header">s</span>
  </div>
</div>
<div class="right-block about-us-right-block" @expandAnimationRight>
  <div class="about-us">
    <div class="container">
      <div class="who-we-are">
        <p>We are a team of dedicated healthcare professionals with more than a decade of experience in sales and
          distribution of Medical Devices and Supplies across the globe.
          Our team of experts have extensively worked on understanding the needs of customers and then delivering them
          world class products.
          We strive to deliver happiness and wellness to our customers so that they always live a vibrant life.</p>
      </div>
      <div class="mission">
        <p><span class="highlight">Our Mission</span> : To Increase our presence, by setting up distribution centres globally at the same time
          making MedicSatva a synonym of consistency, in terms of both "Product range & service".</p>
      </div>
      <div class="vision">
        <p><span class="highlight">Our Vision</span> : To provide affordable healthcare services to the masses, while ensuring we stand tall
          with our quality standards and trust in everything we do.</p>
      </div>
    </div>
  </div>

</div>
