<div id='init-view'>
  <div class="bg-image"></div>
  <div class="overlay" @intro-color></div>
  <section id="intro">
    <div class="intro-container">
      <div class="logo" @logo>
        <img src="assets/logo.png" height="100%" />
      </div>
      <div @intro-animations>
        <div class="name">
          <div class="name1 underline-below">Medic</div>
          <div class="name2 underline-above">Satva</div>
        </div>
        <div class="tagline">
          <span>“ Health & Happiness to you.</span> Responsibility lies with us ”
        </div>
        <div>
          <a routerLink="navigation" class="button">Explore us</a>
        </div>
      </div>
    </div>
  </section>
</div>
