.tile:hover {
  box-shadow: 0 0 100px #333 inset;
}

.tile>div>div {
  width: 100%;
  display: inline-block;
  font-family: arca-majora-bold;
  text-align: center;
}

@mixin styling($tile-width) {
  .tile {
    height: $tile-width;
    width: $tile-width;
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
    cursor: pointer;
    margin: 1px;
  }


  .tile>div {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1200px) {
  @include styling($tile-width: 250px);
}

@media screen and (min-width: 769px) and (max-width:1199px) {

  @include styling($tile-width: 200px);


}

@media screen and (max-width:768px) {

  @include styling($tile-width: 150px);

}
